{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary">{{ "button.save"|trans }}</button>
<a href="#" 
   class="btn btn-secondary {% if 'energy/' in app.request.uri and '/edit' in app.request.uri %}disabled{% endif %}" 
   {% if 'energy/' in app.request.uri and '/edit' in app.request.uri %}aria-disabled="true" onclick="return false;"style="display:none"{% endif %}
   data-turbo-action="remove" 
   data-turbo-frame="energies">
    {{ "button.close"|trans }}
</a>
{{ form_end(form) }}
