{% extends 'base.html.twig' %}

{% block title %}Energy{% endblock %}

{% block body %}
    <h1>Energy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Provider</th>
                <td>{{ entity.provider }}</td>
            </tr>
            <tr>
                <th>ContractEnd</th>
                <td>{{ entity.contractEnd ? entity.contractEnd|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>{{ entity.power }}</td>
            </tr>
            <tr>
                <th>BasePrice</th>
                <td>{{ entity.basePrice }}</td>
            </tr>
            <tr>
                <th>Segment</th>
                <td>{{ entity.segment }}</td>
            </tr>
            <tr>
                <th>PeakHour</th>
                <td>{{ entity.peakHour }}</td>
            </tr>
            <tr>
                <th>OffPeakHour</th>
                <td>{{ entity.offPeakHour }}</td>
            </tr>
            <tr>
                <th>HoroSeason</th>
                <td>{{ entity.horoSeason }}</td>
            </tr>
            <tr>
                <th>PeakHourWinter</th>
                <td>{{ entity.peakHourWinter }}</td>
            </tr>
            <tr>
                <th>PeakHourSummer</th>
                <td>{{ entity.peakHourSummer }}</td>
            </tr>
            <tr>
                <th>OffPeakHourWinter</th>
                <td>{{ entity.offPeakHourWinter }}</td>
            </tr>
            <tr>
                <th>OffPeakHourSummer</th>
                <td>{{ entity.offPeakHourSummer }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_energy_index') }}">back to list</a>

    <a href="{{ path('app_energy_edit', {'id': entity.id}) }}">edit</a>

    {{ include('energy/_delete_form.html.twig') }}
{% endblock %}
