{% extends 'base.html.twig' %}

{% block title %}{{ "template.show"|trans }}{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "template.show"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ "template.name.label"|trans }}</th>
                            <td>{{ template.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ "client_document.type.label"|trans }}</th>
                            <td>{{ template.type|trans_enum }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('app_template_download', {'id': template.id}) }}" target="_blank"
                       class="btn btn-primary">{{ "button.download"|trans }}</a>

                    <a href="{{ path('app_template_index') }}">{{ "button.back"|trans }}</a>

                    {{ include('template/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
