{% extends 'base.html.twig' %}

{% block title %}{{ '2fa.google.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">{{ '2fa.google.title'|trans }}</h1>
        <p class="text-center">{{ '2fa.google.scan'|trans }}</p>

        <div class="text-center">
            <img src="{{ qrCode }}" alt="QR Code pour Google Authenticator">
        </div>

        <p class="text-center mt-3">
            {{ '2fa.google.manual_code'|trans }}
            <strong>{{ manualCode }}</strong>
        </p>
    </div>
{% endblock %}
