{% extends 'fullscreen_base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <div class="d-flex justify-content-center py-4">
                                <a href="{{ path('homepage') }}" class="logo d-flex align-items-center w-auto">
                                    <img src="{{ asset('assets/NiceAdmin/img/logo-95c3f894b59abf75c34cb26d7eedacc8.png') }}" alt="Default Logo"/>
                                    <span class="d-none d-lg-block">GDB consulting</span>
                                </a>
                            </div>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">{{ 'login.title'|trans }}</h5>
                                        <p class="text-center small">{{ 'login.subtitle'|trans }}</p>
                                    </div>
                                    {% if error %}
                                        <div class="alert alert-danger" role="alert">
                                            <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                                        </div>
                                    {% endif %}
                                    <form method="post" class="row g-3 needs-validation" novalidate>
                                        <div class="col-12">
                                            <label for="inputEmail" class="form-label">{{ 'email'|trans }}</label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="inputPassword" class="form-label">{{ 'password'|trans }}</label>
                                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">{{ 'button.login'|trans }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
