{% extends 'base.html.twig' %}

{#
    Variable to be block by children:
    - title
    - page_title
    - object_label
    - object_title

    Variable automatically pass to this page :
    - object_route_name
    - detail_route_name
    - objectsLogs
    - objectTitleAttribute
#}

{% block body %}
	<div class="card-header d-flex align-items-center justify-content-between">
		<div class="card-title">
			<h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
				{% block page_title %}{% endblock %}
			</h2>
		</div>
	</div>

	<div class="card-body">
		<table class="min-w-full divide-y divide-gray-200">
			<thead class="bg-gray-50">
				<tr>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.action'|trans }}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{% block object_title %}{% endblock %}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.version'|trans }}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.editor'|trans }}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.modified_fields'|trans }}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.date'|trans }}
					</th>
					<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
						{{ 'loggable.common.actions'|trans }}
					</th>
				</tr>
			</thead>
			<tbody class="bg-white divide-y divide-gray-200">
				{% for objectsLog in objectsLogs %}
					<tr>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm font-medium text-gray-900">{{ objectsLog.action|trans }}</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm text-gray-900">{{ attribute(objectsLog.object, objectTitleAttribute) }}</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm text-gray-500">{{ objectsLog.version }}</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm text-gray-500">{{ objectsLog.username }}</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm text-gray-500">
								<ul>
									{% for key in objectsLog.data|keys %}
										<li>{{ key|trans }}</li>
									{% endfor %}
								</ul>
							</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap">
							<div class="text-sm text-gray-500">{{ objectsLog.loggedAt|date('common.date_format'|trans) }}</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
							<a href="{{ path(object_route_name, {'id': objectsLog.objectId}) }}" class="text-indigo-600 hover:text-indigo-900">
								{% block object_label %}{% endblock %}
							</a>
							<a href="{{ path(detail_route_name, {'id': objectsLog.objectId, 'version': objectsLog.version}) }}" class="text-indigo-600 hover:text-indigo-900">{{ 'loggable.common.details'|trans }}</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-gray-500">
							{{ 'loggable.common.no_records_found'|trans }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
