{% extends 'base.html.twig' %}

{% block title %}{{ 'reset.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'reset.page_title'|trans }}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary mt-3">{{ 'reset.button'|trans }}</button>
    {{ form_end(resetForm) }}
{% endblock %}
