<div class="overlay" id="comment-overlay">
	<div class="overlay-content">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-primary">{{ "button.save"|trans }}</button>
		<a href="#" data-turbo-action="remove" data-turbo-frame="comment" class="btn btn-secondary">{{ "button.close"|trans }}</a>
		{{ form_end(form) }}
	</div>
</div>
