<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'Civility'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.civility|trans }}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'Last Name'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.lastName }}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'First Name'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.firstName }}</div>
</div>

{% if client.birthName %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Birth Name'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.birthName }}</div>
    </div>
{% endif %}

{% if client.dbirthDate %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Birth Date'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.dbirthDate|date('d/m/Y') }}</div>
    </div>
{% endif %}

{% if client.birthplacePostalCode or client.birthplaceCity or client.birthplaceCountry %}
    <h5 class="card-title mt-4">{{ 'Birthplace Information'|trans }}</h5>
    {% if client.birthplacePostalCode %}
        <div class="row">
            <div class="col-lg-3 col-md-4 label">{{ 'Postal Code'|trans }}</div>
            <div class="col-lg-9 col-md-8">{{ client.birthplacePostalCode }}</div>
        </div>
    {% endif %}
    {% if client.birthplaceCity %}
        <div class="row">
            <div class="col-lg-3 col-md-4 label">{{ 'City'|trans }}</div>
            <div class="col-lg-9 col-md-8">{{ client.birthplaceCity }}</div>
        </div>
    {% endif %}
    {% if client.birthplaceCountry %}
        <div class="row">
            <div class="col-lg-3 col-md-4 label">{{ 'Country'|trans }}</div>
            <div class="col-lg-9 col-md-8">{{ client.birthplaceCountry|country_name }}</div>
        </div>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'Nationality'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.nationality }}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'Handicap'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.handicap ? 'Yes'|trans : 'No'|trans }}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">{{ 'Marital Situation'|trans }}</div>
    <div class="col-lg-9 col-md-8">{{ client.maritalSituation | trans_enum }}</div>
</div>

<h5 class="card-title mt-4">{{ 'Contact Information'|trans }}</h5>
{% if client.email %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Email'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.email }}</div>
    </div>
{% endif %}

{% if client.phone %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Phone'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.phone }}</div>
    </div>
{% endif %}

{% if client.adresseNumber or client.adresseStreet or client.adressePostalCode or client.adresseCity or client.adresseCountry %}
    <h5 class="card-title mt-4">{{ 'Address'|trans }}</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Street Address'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.adresseNumber }} {{ client.adresseStreet }}</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Postal Code'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.adressePostalCode }}</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'City'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.adresseCity }}</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Country'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.adresseCountry|country_name }}</div>
    </div>
{% endif %}

{% if client.job %}
    <h5 class="card-title mt-4">{{ 'Professional Information'|trans }}</h5>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'Job'|trans }}</div>
        <div class="col-lg-9 col-md-8">{{ client.job }}</div>
    </div>
{% endif %}

{% if client.spouse %}
    <hr>
    <h5 class="card-title">{{ 'client.spouse.label'|trans }}</h5>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#spouseInfo" aria-expanded="false" aria-controls="spouseInfo">
                    {{ 'client.spouse.label'|trans }} - {{ 'client_profile.information'|trans }}
                </button>
            </h2>
            <div id="spouseInfo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">{{ 'civility'|trans }}</div>
                        <div class="col-lg-9 col-md-8">{{ client.spouse.civility|trans }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">{{ 'last_name'|trans }}</div>
                        <div class="col-lg-9 col-md-8">{{ client.spouse.lastName }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">{{ 'first_name'|trans }}</div>
                        <div class="col-lg-9 col-md-8">{{ client.spouse.firstName }}</div>
                    </div>
                    {% if client.spouse.birthName %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Birth Name'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.birthName }}</div>
                        </div>
                    {% endif %}
                    {% if client.spouse.dbirthDate %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Birth Date'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.dbirthDate|date('d/m/Y') }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#spouseBirthInfo" aria-expanded="false" aria-controls="spouseBirthInfo">
                    {{ 'client_profile.spouse.birth_information'|trans }}
                </button>
            </h2>
            <div id="spouseBirthInfo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% if client.spouse.birthPlacePostalCode %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Postal Code'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.birthPlacePostalCode }}</div>
                        </div>
                    {% endif %}
                    {% if client.spouse.birthPlaceCity %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'City'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.birthPlaceCity }}</div>
                        </div>
                    {% endif %}
                    {% if client.spouse.birthPlaceCountry %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Country'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.birthPlaceCountry|country_name }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#spouseJobInfo" aria-expanded="false" aria-controls="spouseJobInfo">
                    {{ 'client_profile.spouse.job_information'|trans }}
                </button>
            </h2>
            <div id="spouseJobInfo" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% if client.spouse.job %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Job'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.job }}</div>
                        </div>
                    {% endif %}
                    {% if client.spouse.jobCsp %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Job CSP'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.jobCsp }}</div>
                        </div>
                    {% endif %}
                    {% if client.spouse.retirementAge %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Retirement Age'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ client.spouse.retirementAge }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if client.child is not empty %}
    <hr>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#childInfo"
                        aria-expanded="false" aria-controls="childInfo">
                    {{ 'child'|trans }}
                </button>
            </h2>
            <div id="childInfo" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    {% for child in client.child %}
                    <div class="row">
                        <h5>{{ child.civility|trans }} {{ child.lastName }} {{ child.firstName }}</h5>
                    </div>
                    {% if child.birthName %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Birth Name'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ child.birthName }}</div>
                        </div>
                    {% endif %}
                    {% if child.dbirthDate %}
                        <div class="row">
                            <div class="col-lg-3 col-md-4 label">{{ 'Birth Date'|trans }}</div>
                            <div class="col-lg-9 col-md-8">{{ child.dbirthDate|date('d/m/Y') }}</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">{{ 'dependent'|trans }}</div>
                        <div class="col-lg-9 col-md-8">{{ child.dependent ? 'Yes'|trans : 'No'|trans }}</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 label">{{ 'childOf'|trans }}</div>
                        <div class="col-lg-9 col-md-8">{{ ('client_profile.beneficiary.' ~ child.childOf)|trans }}</div>
                    </div>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}