{% set totalRevenue = 0 %}
{% if revenues is not empty %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'client_profile.revenues.label'|trans }}</div>
        <div class="col-lg-9 col-md-8">
            <div class="mb-3 card" data-controller="pie-chart"
                 data-pie-chart-values="{{ revenues|map(r => r.annualAmount)|join(',') }}"
                 data-pie-chart-labels="{{ revenues|map(r => ('client_profile.beneficiary.' ~ r.beneficiary)|trans)|join(',') }}">
                <div class="card-body">
                    <div class="chart-container" style="height: 350px;"></div>
                    <ul>
                        {% for revenue in revenues %}
                            <li>{{ ('client_profile.beneficiary.' ~ revenue.beneficiary)|trans }}: {{ revenue.annualAmount }} € ({{ revenue.nature|trans_enum }})</li>
                            {% set totalRevenue = totalRevenue + revenue.annualAmount %}
                        {% endfor %}
                    </ul>
                    <p><strong>{{ 'client_profile.revenues.total'|trans }}:</strong> {{ totalRevenue }} €</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set totalExpense = 0 %}
{% if expenses is not empty %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'client_profile.expenses.label'|trans }}</div>
        <div class="col-lg-9 col-md-8">
            <div class="mb-3 card" data-controller="pie-chart"
                 data-pie-chart-values="{{ expenses|map(e => e.annualAmount)|join(',') }}"
                 data-pie-chart-labels="{{ expenses|map(e => e.designation)|join(',') }}">
                <div class="card-body">
                    <div class="chart-container" style="height: 350px;"></div>
                    <ul>
                        {% for expense in expenses %}
                            <li>{{ expense.designation }}: {{ expense.annualAmount }} € ({{ expense.nature|trans_enum }})</li>
                            {% set totalExpense = totalExpense + expense.annualAmount %}
                        {% endfor %}
                    </ul>
                    <p><strong>{{ 'client_profile.expenses.total'|trans }}:</strong> {{ totalExpense }} €</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% set totalBalance = totalRevenue - totalExpense %}
{% if totalBalance != 0 %}
    <div class="row">
        <div class="col-lg-3 col-md-4 label">{{ 'client_profile.balance.label'|trans }}</div>
        <div class="col-lg-9 col-md-8">
            <div class="mb-3 card" data-controller="pie-chart"
                 data-pie-chart-values="{{ totalRevenue }},{{ totalExpense }}"
                 data-pie-chart-labels="{{ 'client_profile.revenues.total'|trans }},{{ 'client_profile.expenses.total'|trans }}">
                <div class="card-body">
                    <div class="chart-container" style="height: 350px;"></div>
                    <p><strong>{{ 'client_profile.balance.total'|trans }}:</strong> {{ totalBalance }} €</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
