    <div class="pagetitle">
        <h1>{{ "menu.customer"|trans }}</h1>
    </div>

    <section class="section">
        <div class="card p-4">
            <div class="card-body">
                <!-- Début du formulaire -->
                {{ form_start(form) }}

                <!-- Champ pour le nom -->
                <div class="mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>

                <!-- Champ pour L'origine du lead -->
                <div class="mb-3">
                    {{ form_label(form.leadOrigin) }}
                    {{ form_widget(form.leadOrigin, {'attr': {'class': 'form-control'}}) }}
                </div>

                <!-- Gestion des Business Entities -->
                <div class="mb-4">
                    <h3>{{ 'customer.business_entities'|trans }}</h3>
                    <div data-controller="form-collection" data-form-collection-index-value="{{ form.businessEntities|length }}" data-form-collection-template-value="{{ form_widget(form.businessEntities.vars.prototype)|e('html_attr') }}">
                        <div data-form-collection-target="container">
                            {% for businessEntityForm in form.businessEntities %}
                                <div class="form-item">
                                    {{ form_row(businessEntityForm) }}
                                    <button type="button" class="btn btn-danger" data-action="form-collection#removeItem">{{ 'button.delete'|trans }}</button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary" data-action="form-collection#addItem">{{ 'document.add_business_entity'|trans }}</button>
                    </div>
                </div>

                <!-- Gestion des Contacts -->
                <div class="mb-4">
                    <h3>{{ 'customer.contacts'|trans }}</h3>
                    <div data-controller="form-collection" data-form-collection-index-value="{{ form.contacts|length }}" data-form-collection-template-value="{{ form_widget(form.contacts.vars.prototype)|e('html_attr') }}">
                        <div data-form-collection-target="container">
                            {% for contactForm in form.contacts %}
                                <div class="form-item">
                                    {{ form_row(contactForm) }}
                                    <button type="button" class="btn btn-danger" data-action="form-collection#removeItem">{{ 'button.delete'|trans }}</button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary" data-action="form-collection#addItem">{{ 'document.add_contact'|trans }}</button>
                    </div>
                </div>

                <!-- Gestion des Energies -->
                <div class="mb-4">
                    <h3>{{ 'customer.energies'|trans }}</h3>
                    <div data-controller="form-collection" data-form-collection-index-value="{{ form.energies|length }}" data-form-collection-template-value="{{ form_widget(form.energies.vars.prototype)|e('html_attr') }}">
                        <div data-form-collection-target="container">
                            {% for energyForm in form.energies %}
                                <div class="form-item">
                                    {{ form_row(energyForm) }}
                                    <button type="button" class="btn btn-danger" data-action="form-collection#removeItem">{{ 'button.delete'|trans }}</button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary" data-action="form-collection#addItem">{{ 'document.add_energy'|trans }}</button>
                    </div>
                </div>

                <!-- Gestion des Prospects -->
                <div class="mb-4">
                    <h3>{{ 'customer.prospects'|trans }}</h3>
                    <div data-controller="form-collection" data-form-collection-index-value="{{ form.prospects|length }}" data-form-collection-template-value="{{ form_widget(form.prospects.vars.prototype)|e('html_attr') }}">
                        <div data-form-collection-target="container">
                            {% for prospectForm in form.prospects %}
                                <div class="form-item">
                                    {{ form_row(prospectForm) }}
                                    <button type="button" class="btn btn-danger" data-action="form-collection#removeItem">{{ 'button.delete'|trans }}</button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary" data-action="form-collection#addItem">{{ 'document.add_prospect'|trans }}</button>
                    </div>
                </div>

                <submit class="btn btn-primary">{{ 'button.save'|trans }}</submit>
                {{ form_end(form) }}
            </div>
        </div>
    </section>