<turbo-frame id="upload_file">
    {% for message in app.flashes('dropzone_success') %}
        <div class="alert alert-success" data-turbo-cache="false">{{ message }}</div>
    {% endfor %}

    {{ form_start(form, {'action': path('app_customer_document', {'id': customer.id})}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}

</turbo-frame>
<turbo-frame id="list_document">
    <ul>
        {% for document in customer.documents %}
            <li>
                <a href="{{ path('app_customer_document_download', {'id': document.id}) }}" data-turbo="false" >{{ document.name }}</a>
            </li>
        {% endfor %}
    </ul>

</turbo-frame>