{% extends 'base.html.twig' %}

{% block title %}
	{{ "menu.customer"|trans }}
{% endblock %}

{% block body %}
	<div class="pagetitle" style="display: flex;justify-content:space-between;">
		<h1>{{ "menu.customer"|trans }}</h1>
		<a href="{{ path('app_customer_edit', {'id': customer.id}) }}" class="btn btn-primary">{{ "button.edit"|trans }}</a>
	</div>

	<section class="section dashboard">
		<div
			class="row">
			<!-- Section Centrale avec les informations principales -->

			<div class="col-lg-8">
				<div
					class="row">
					<!-- Nouveau client card -->
					<div class="col-md-6">
						<div class="card info-card sales-card">
							<div class="card-body">
								<h5 class="card-title">{{ "menu.customer"|trans }}</h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-people"></i>
									</div>
									<div class="ps-3">
										<h6>{{ customer.name }}</h6>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Revenue card (Lead origin as an example) -->
					<div class="col-md-6">
						<div class="card info-card revenue-card">
							<div class="card-body">
								<h5 class="card-title">{{ "customer.lead_origin"|trans }}</h5>
								<div class="d-flex align-items-center">
									<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
										<i class="bi bi-arrow-up-right-circle"></i>
									</div>
									<div class="ps-3">
										<h6>{{ customer.leadOrigin }}</h6>
										<div>{{ customer.origin.value|trans }}
											/
											{{ customer.status.value|trans }}</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- Section Historique des signatures (Contracts/Energy Info) -->
					<div class="col-12">
						<div class="card recent-sales">
							<div class="card-body">
								<h5 class="card-title">{{ "customer.contract_energies"|trans }}</h5>
								<div class="table-responsive">
									<table class="table table-hover mb-0">
										<thead class="table-light">
											<tr class="table-primary">
												<th scope="col" class="text-start">{{ "energy.provider"|trans }}</th>
												<th scope="col" class="text-start">{{ "energy.type"|trans }}</th>
												<th scope="col" class="text-start">{{ "energy.code"|trans }}</th>
												<th scope="col" class="text-start">{{ "energy.expiry_date"|trans }}</th>
											</tr>
										</thead>
										<tbody>
											{% for energy in customer.energies %}
												<tr>
													<td>{{ energy.provider }}</td>
													<td>{{ energy.type }}</td>
													<td>{{ energy.code }}</td>
													<td>{{ energy.contractEnd ? energy.contractEnd|date('d/m/Y') : "-" }}</td>
												</tr>
											{% else %}
												<tr>
													<td colspan="3" class="text-center">{{ "table.no_data"|trans }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<!-- Section Contacts -->
					<div class="col-12">
						<div class="card recent-sales">
							<div class="card-body">
								<h5 class="card-title">{{ "customer.contacts"|trans }}</h5>
								<div class="table-responsive">
									<table class="table table-hover mb-0">
										<thead class="table-light">
											<tr class="table-primary">
												<th scope="col" class="text-start">{{ "contact.name"|trans }}</th>
												<th scope="col" class="text-start">{{ "contact.position"|trans }}</th>
												<th scope="col" class="text-start">{{ "contact.email"|trans }}</th>
												<th scope="col" class="text-start">{{ "contact.phone"|trans }}</th>
											</tr>
										</thead>
										<tbody>
											{% for contact in customer.contacts %}
												<tr>
													<td>{{ contact.name }}</td>
													<td>{{ contact.position }}</td>
													<td>
														<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
													</td>
													<td>
														<a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
													</td>
												</tr>
											{% else %}
												<tr>
													<td colspan="4" class="text-center">{{ "table.no_data"|trans }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4">
				<div class="row card">
					<div
						class="card-body">
						<!-- Titre de la carte -->
						<h5 class="card-title">{{ "customer.siret_list"|trans }}</h5>

						<!-- Vérification si le client a des business entities associées -->
						{% if customer.businessEntities is not empty %}
							<!-- Liste des SIRETs dans une boucle -->
							<div class="list-group">
								{% for entity in customer.businessEntities %}
									<div class="list-group-item d-flex justify-content-between align-items-center">
										<a href="https://www.pappers.fr/recherche?q={{ entity.siret }}" target="_blank">{{ "siret"|trans }}:
											{{ entity.siret }}</a>
									</div>
								{% endfor %}
							</div>
						{% else %}
							<!-- Message affiché s'il n'y a pas de SIRET -->
							<p>{{ "customer.no_siret"|trans }}</p>
						{% endif %}
					</div>

				</div>
				<div>
					<div class="row card">
						<div class="card-body">
							<h5 class="card-title">{{ "comment"|trans }}</h5>
							<div class="d-flex align-items-center">
								<div class="ps-3">
									{% for comment in customer.comments %}
										<div>
											{{ comment.note }}
										</div>
									{% else %}
										<p>{{ "NoComments"|trans }}</p>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="row card">
						<div class="card-body">
							<h5 class="card-title">{{ "document"|trans }}</h5>
							<turbo-frame id="list_document">
							<div class="d-flex align-items-center">
								<div class="ps-3">
									{% include 'document/_document_list.html.twig' with {'documents': customer.documents} %}
								</div>
							</div>
							{% include 'document/_dropzone.html.twig' with {'form': formDocument} %}
							</turbo-frame>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-controller="modal">
			<button data-action="modal#open" class="btn btn-secondary">
				{{ "template.btn.edit"|trans }}
			</button>

			<div data-modal-target="modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-75 justify-center items-center" data-action="click->modal#closeOnBackdrop">
				<div class="card">
					{{ form_start(form, {'attr': {'class': 'needs-validation'}, 'method': 'POST'}) }}
					<div class="card-body dataUpdate">
						<h5 class="card-title">{{ "customer.update_details"|trans }}</h5>
						<div
							class="row">
							<div class="col-md-6 mb-3">
								{{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter customer name'}}) }}
								{{ form_errors(form.name) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.leadOrigin, null, {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.leadOrigin, {'attr': {'class': 'form-control', 'placeholder': 'Enter lead origin'}}) }}
								{{ form_errors(form.leadOrigin) }}
							</div>

							<div class="col-md-3 mb-3">
								{{ form_label(form.origin, null, {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.origin, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.origin) }}
							</div>

							<div class="col-md-3 mb-3">
								{{ form_label(form.status, null, {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.status) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.margin, null, {'label_attr': {'class': 'form-label'}}) }}
								{{ form_widget(form.margin, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.margin) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.companyGroup, null, {'label_attr': {'class': 'form-label' }}) }}
								{{ form_widget(form.companyGroup, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.companyGroup) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.comments, null, {'label_attr': {'class': 'form-label' }}) }}
								{{ form_widget(form.comments, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.comments) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.action, null, {'label_attr': {'class': 'form-label' }}) }}
								{{ form_widget(form.action, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.action) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.worth, null, {'label_attr': {'class': 'form-label' }}) }}
								{{ form_widget(form.worth, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.worth) }}
							</div>

							<div class="col-md-6 mb-3">
								{{ form_label(form.commision, null, {'label_attr': {'class': 'form-label' }}) }}
								{{ form_widget(form.commision, {'attr': {'class': 'form-control'}}) }}
								{{ form_errors(form.commision) }}
							</div>
						</div>

						{{ form_label(form.contacts, null, {'label_attr': {'class': 'form-label hidden' }}) }}
						{{ form_widget(form.contacts, {'attr': {'class': 'form-control hidden'}}) }}
						{{ form_errors(form.contacts) }}

						{{ form_label(form.energies, null, {'label_attr': {'class': 'form-label hidden' }}) }}
						{{ form_widget(form.energies, {'attr': {'class': 'form-control hidden'}}) }}
						{{ form_errors(form.energies) }}

						{{ form_label(form.businessEntities, null, {'label_attr': {'class': 'form-label hidden' }}) }}
						{{ form_widget(form.businessEntities, {'attr': {'class': 'form-control hidden'}}) }}
						{{ form_errors(form.businessEntities) }}
						<div class="d-flex justify-content-between mt-3">
							<button type="submit" class="btn btn-primary">{{ "button.save"|trans }}</button>
							<button type="button" data-action="modal#close" class="btn btn-secondary">
								{{ "template.modal.close"|trans }}
							</button>
						</div>
					</div>
					{{ form_end(form) }}
				</div>

			</div>
		</div>
    </section>
{% endblock %}
