{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.project) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.status) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.priority) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.assignee) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.dueDate) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.startDate) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.tags) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.estimatedHours) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.actualHours) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    <twig:FormActions
        backRoute="task_index"
    />
{{ form_end(form) }}