{% extends 'base.html.twig' %}

{% block title %}BusinessEntity index{% endblock %}

{% block body %}
    <h1>BusinessEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Siret</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for business_entity in entities %}
            <tr>
                <td>{{ business_entity.id }}</td>
                <td>{{ business_entity.siret }}</td>
                <td>
                    <a href="{{ path('app_business_entity_show', {'id': business_entity.id}) }}">show</a>
                    <a href="{{ path('app_business_entity_edit', {'id': business_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_business_entity_new') }}">Create new</a>
{% endblock %}
