{% extends 'base.html.twig' %}

{% trans_default_domain 'powens' %}

{% block title %}{{ 'show.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4 p-5">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h3">{{ 'show.h2'|trans }}</h2>
            <a class="btn btn-primary"
               href="{{ path('app_powens_user_show', {id: powensUser.id}) }}">{{ 'select.back'|trans }}</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead class="table-light">
                <tr class="table-primary">
                    <th scope="col">{% trans %}show.table.name{% endtrans %}</th>
                    <th scope="col">{% trans %}show.table.type{% endtrans %}</th>
                    <th scope="col">{% trans %}show.table.currency{% endtrans %}</th>
                    <th scope="col">{% trans %}show.table.iban{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-start">{{ account.name }}</td>
                    <td class="text-start">{{ account.type|trans_enum }}</td>
                    <td class="text-start">{{ account.currency.name|default('unknown'|trans) }}</td>
                    <td class="text-start">{{ account.iban|default('unknown'|trans) }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {# @var user \App\Entity\Client #}
        {% if filteredData is defined %}
            {%- set user = filteredData -%}
        {% else %}
            {%- set user = powensUser.clientLogin.client -%}
        {% endif %}
        {%- set first = "none" -%}

        <ul class="mt-4 nav nav-tabs d-flex" id="myTabjustified" role="tablist">
            {% if user.contract is defined and user.contract is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="contract-tab" data-bs-toggle="tab" data-bs-target="#contract-justified"
                            type="button" role="tab" aria-controls="contract"
                            {% if first == "none" %}aria-selected="true"{%- set first = "contract" -%}{% endif %}>
                        {%- trans %}select.tab.contract{% endtrans -%}
                    </button>
                </li>
            {% endif %}
            {% if user.insurance is defined and user.insurance is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="insurance-tab" data-bs-toggle="tab" data-bs-target="#insurance-justified"
                            type="button" role="tab" aria-controls="insurance"
                            {% if first == "none" %}aria-selected="true"{%- set first = "insurance" -%}{% endif %}>
                        {%- trans %}select.tab.insurance{% endtrans -%}
                    </button>
                </li>
            {% endif %}
            {% if user.saving is defined and user.saving is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="saving-tab" data-bs-toggle="tab" data-bs-target="#saving-justified"
                            type="button" role="tab" aria-controls="saving"
                            {% if first == "none" %}aria-selected="true"{%- set first = "saving" -%}{% endif %}>
                        {%- trans %}select.tab.saving{% endtrans -%}
                    </button>
                </li>
            {% endif %}
            {% if user.liabilities is defined and user.liabilities is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="liability-tab" data-bs-toggle="tab" data-bs-target="#liability-justified"
                            type="button" role="tab" aria-controls="liability"
                            {% if first == "none" %}aria-selected="true"{%- set first = "liability" -%}{% endif %}>
                        {%- trans %}select.tab.liability{% endtrans -%}
                    </button>
                </li>
            {% endif %}
            {% if user.financialAsset is defined and user.financialAsset is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="financial-asset-tab" data-bs-toggle="tab" data-bs-target="#financial-asset-justified"
                            type="button" role="tab" aria-controls="financial-asset"
                            {% if first == "none" %}aria-selected="true"{%- set first = "financial-asset" -%}{% endif %}>
                        {%- trans %}select.tab.financial_asset{% endtrans -%}
                    </button>
                </li>
            {% endif %}
            {% if user.nonFinancialAssets is defined and user.nonFinancialAssets is not empty %}
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100{% if first == "none" %} active{% endif %}"
                            id="non-financial-asset-tab" data-bs-toggle="tab"
                            data-bs-target="#non-financial-asset-justified"
                            type="button" role="tab" aria-controls="non-financial-asset"
                            {% if first == "none" %}aria-selected="true"{%- set first = "non-financial-asset" -%}{% endif %}>
                        {%- trans %}select.tab.non_financial_asset{% endtrans -%}
                    </button>
                </li>
            {% endif %}
        </ul>

        <div class="tab-content pt-2 mt-5" id="myTabjustifiedContent">
            {% if user.contract is defined and user.contract is not empty %}
                <div class="tab-pane fade{% if first == "contract" %} show active{% endif %}"
                     id="contract-justified" role="tabpanel" aria-labelledby="contract-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.opening_date{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.estimated_value{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in user.contract %}
                                <tr>
                                    <td class="text-start">{{ contract.nature|trans_enum }}</td>
                                    <td class="text-start">{{ contract.openingDate|date('common.date_format'|trans({}, 'messages')) }}</td>
                                    <td class="text-start">{{ contract.estimatedValue }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: contract.id, accountType: 'contract'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if user.insurance is defined and user.insurance is not empty %}
                <div class="tab-pane fade{% if first == "insurance" %} show active{% endif %}"
                     id="insurance-justified" role="tabpanel" aria-labelledby="insurance-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.opening_date{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.estimated_value{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.held_by{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for insurance in user.insurance %}
                                <tr>
                                    <td class="text-start">{{ insurance.nature|trans_enum }}</td>
                                    <td class="text-start">{{ insurance.openingDate|date('common.date_format'|trans({}, 'messages')) }}</td>
                                    <td class="text-start">{{ insurance.estimatedValue }}</td>
                                    <td class="text-start">{{ insurance.heldBy }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: insurance.id, accountType: 'insurance'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if user.saving is defined and user.saving is not empty %}
                <div class="tab-pane fade{% if first == "saving" %} show active{% endif %}"
                     id="saving-justified" role="tabpanel" aria-labelledby="saving-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.opening_date{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.estimated_value{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.held_by{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for saving in user.saving %}
                                <tr>
                                    <td class="text-start">{{ saving.nature|trans_enum }}</td>
                                    <td class="text-start">{{ saving.openingDate|date('common.date_format'|trans({}, 'messages')) }}</td>
                                    <td class="text-start">{{ saving.estimatedValue }}</td>
                                    <td class="text-start">{{ saving.heldBy }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: saving.id, accountType: 'saving'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if user.liabilities is defined and user.liabilities is not empty %}
                <div class="tab-pane fade{% if first == "liability" %} show active{% endif %}"
                     id="liability-justified" role="tabpanel" aria-labelledby="liability-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.loan_type{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.subscription_date{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.borrowed_amount{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for liability in user.liabilities %}
                                <tr>
                                    <td class="text-start">{{ liability.nature|trans_enum }}</td>
                                    <td class="text-start">{{ liability.loanType|trans_enum }}</td>
                                    <td class="text-start">{{ liability.subscriptionDate|date('common.date_format'|trans({}, 'messages')) }}</td>
                                    <td class="text-start">{{ liability.borrowedAmount }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: liability.id, accountType : 'liability'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if user.financialAsset is defined and user.financialAsset is not empty %}
                <div class="tab-pane fade{% if first == "financial-asset" %} show active{% endif %}"
                     id="financial-asset-justified" role="tabpanel" aria-labelledby="financial-asset-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.category{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.designation{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.estimated_value{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.held_by{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.mode_of_holding{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for financialAsset in user.financialAsset %}
                                <tr>
                                    <td class="text-start">{{ financialAsset.nature|trans_enum }}</td>
                                    <td class="text-start">{{ financialAsset.category|trans_enum }}</td>
                                    <td class="text-start">{{ financialAsset.designation }}</td>
                                    <td class="text-start">{{ financialAsset.estimatedValue }}</td>
                                    <td class="text-start">{{ financialAsset.heldBy }}</td>
                                    <td class="text-start">{{ financialAsset.modeOfHolding }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: financialAsset.id, accountType: 'financial-asset'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if user.nonFinancialAssets is defined and user.nonFinancialAssets is not empty %}
                <div class="tab-pane fade{% if first == "non-financial-asset" %} show active{% endif %}"
                     id="non-financial-asset-justified" role="tabpanel" aria-labelledby="non-financial-asset-tab">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                            <tr class="table-primary">
                                <th scope="col">{% trans %}select.table.category{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.nature{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.designation{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.estimated_value{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.held_by{% endtrans %}</th>
                                <th scope="col">{% trans %}select.table.mode_of_holding{% endtrans %}</th>
                                <th scope="col">{% trans %}select.button.link{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for nonFinancialAsset in user.nonFinancialAssets %}
                                <tr>
                                    <td class="text-start">{{ nonFinancialAsset.nature|trans_enum }}</td>
                                    <td class="text-start">{{ nonFinancialAsset.category|trans_enum }}</td>
                                    <td class="text-start">{{ nonFinancialAsset.designation }}</td>
                                    <td class="text-start">{{ nonFinancialAsset.estimatedValue }}</td>
                                    <td class="text-start">{{ nonFinancialAsset.heldBy }}</td>
                                    <td class="text-start">{{ nonFinancialAsset.modeOfHolding }}</td>
                                    <td class="text-start">
                                        <a class="btn btn-primary"
                                           href="{{ path('app_powens_user_link_account_validate', {id: powensUser.id, idAccount: account.id, idLocal: nonFinancialAsset.id, accountType: 'non-financial-asset'}) }}">
                                            <twig:ux:icon name="bi:check-square"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
