{% extends 'base.html.twig' %}

{% trans_default_domain 'powens' %}

{% block title %}{{ 'show.title'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-4 p-5">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h3">{{ 'show.h2'|trans }}</h2>
            <a class="btn btn-primary" href="{{ path('app_client_show', {id: powensUser.clientLogin.client.id}) }}">{{ 'show.client'|trans }}</a>
        </div>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead class="table-light">
                        <tr class="table-primary">
                            <th scope="col">{% trans %}show.table.linked{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.name{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.type{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.currency{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.iban{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.last_update{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.error{% endtrans %}</th>
                            <th scope="col">{% trans %}show.table.actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for account in accounts %}
                        {%- set accountLinked = userLinkAccounts.contains(account.id) -%}
                        <tr>
                            <td class="text-start">
                                {%- if accountLinked -%}
                                    <twig:ux:icon name="bi:check-square" />
                                {%- else -%}
                                    <twig:ux:icon name="bi:square" />
                                {%- endif -%}
                            </td>
                            <td class="text-start">{{ account.name }}</td>
                            <td class="text-start">{{ account.type|trans_enum }}</td>
                            <td class="text-start">{{ account.currency.name|default('unknown'|trans) }}</td>
                            <td class="text-start">{{ account.iban|default('unknown'|trans) }}</td>
                            <td class="text-start">{{ account.last_update is null ? 'unknown'|trans : account.last_update|date('common.date_format'|trans({}, 'messages')) }}</td>
                            <td class="text-start">{{ account.error|default('none'|trans) }}</td>
                            <td class="text-end">
                                <a href="{{ path('app_powens_user_link_account', {'id': powensUser.id, 'idAccount': account.id}) }}" class="btn btn-primary">
                                    {%- if accountLinked -%}
                                        {% trans %}show.table.button.modify{% endtrans %}
                                    {%- else -%}
                                        {% trans %}show.table.button.add{% endtrans %}
                                    {%- endif -%}
                                </a>
                                {%- if accountLinked -%}
                                    <a href="{{ path('app_powens_user_unlink_account', {'id': powensUser.id, 'idAccount': account.id}) }}" class="btn btn-danger">
                                        {% trans %}show.table.button.unlink{% endtrans %}
                                    </a>
                                {%- endif -%}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">{{ 'no_record'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
