{{ form_start(form, {'attr': {'class': 'ClientForm', 'data-controller': 'marital-status tab-proxy'}}) }}
<ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
    <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#familial-justified"
                type="button" role="tab" aria-controls="home" aria-selected="true">
            <i class="bi bi-people"></i>
            <span class="d-none d-md-inline">{{ 'client.familial.label'|trans }}</span>
        </button>
    </li>
    <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="profile-tab" data-bs-toggle="tab" data-bs-target="#patrimonial-justified"
                type="button" role="tab" aria-controls="profile" aria-selected="false">
            <i class="bi bi-currency-exchange"></i>
            <span class="d-none d-md-inline">{{ 'client.patrimonial.label'|trans }}</span>
        </button>
    </li>
    <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="budget-tab" data-bs-toggle="tab" data-bs-target="#budget-justified"
                type="button" role="tab" aria-controls="budget" aria-selected="false">
            <i class="bi bi-wallet2"></i>
            <span class="d-none d-md-inline">{{ 'client.budget.label'|trans }}</span>
        </button>
    </li>
    <li class="nav-item flex-fill" role="presentation">
        <button class="nav-link w-100" id="objectives-tab" data-bs-toggle="tab" data-bs-target="#objectives-justified"
                type="button" role="tab" aria-controls="objectives" aria-selected="false">
            <i class="bi bi-question-circle"></i>
            <span class="d-none d-md-inline">{{ 'client.objectives.label'|trans }}</span>
        </button>
    </li>
</ul>
<div class="tab-content pt-2 mt-5" id="myTabjustifiedContent">
    <div class="tab-pane fade show active" id="familial-justified" role="tabpanel" aria-labelledby="home-tab">
        {% include 'client/form/_clientForm.html.twig' %}
        {% include 'client/form/_adressForm.html.twig' %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.child, 'title':'client.children.label', 'add':'client.children.add_button' } %}

        <hr>
        <div class="d-flex justify-content-end mt-3">
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="objectives-tab">
                {{ 'client.form.next'|trans }} <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="tab-pane fade" id="patrimonial-justified" role="tabpanel" aria-labelledby="profile-tab">
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.financial_asset, 'title':'client.financial_asset.label', 'add':'client.financial_asset.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.non_financial_assets, 'title':'client.non_financial_asset.label', 'add':'client.non_financial_asset.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.liabilities, 'title':'client.liability.label', 'add':'client.liability.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.insurance, 'title':'client.insurance.label', 'add':'client.insurance.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.saving, 'title':'client.saving.label', 'add':'client.saving.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.contract, 'title':'client.contract.label', 'add':'client.contract.add_button' } %}

        <hr>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="profile-tab">
                <i class="bi bi-arrow-left"></i> {{ 'client.form.previous'|trans }}</a>
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="objectives-tab">
                {{ 'client.form.next'|trans }} <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="tab-pane fade" id="budget-justified" role="tabpanel" aria-labelledby="budget-tab">
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.revenues, 'title':'client.revenues.label', 'add':'client.revenues.add_button' } %}
        {% include 'client/form/_templateFormCollection.html.twig' with {'forms':form.expenses, 'title':'client.expenses.label', 'add':'client.expenses.add_button' } %}

        <hr>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="profile-tab">
                <i class="bi bi-arrow-left"></i> {{ 'client.form.previous'|trans }}</a>
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="objectives-tab">
                {{ 'client.form.next'|trans }} <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
    <div class="tab-pane fade" id="objectives-justified" role="tabpanel" aria-labelledby="objectives-tab">
        <div class="mb-3">
            {{ form_label(form.objectives, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.objectives, { 'attr': { 'class': 'form-control' } }) }}
            {{ form_errors(form.objectives) }}
        </div>
        <div class="mb-3" data-controller="character-counter">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
            <div data-character-counter-target="counter" class="text-muted small mt-1"></div>
            {{ form_errors(form.comment) }}
        </div>

        <hr>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-primary"
               data-action="click->tab-proxy#switch"
               data-tab-proxy-id-param="profile-tab">
                <i class="bi bi-arrow-left"></i> {{ 'client.form.previous'|trans }}</a>
            <button type="submit" class="btn btn-primary">
                {{ button_label|default('client.submit.create' | trans) }}
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="fullscreenModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'document.supporting_documents.label'|trans }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div data-controller="form-collection" data-form-collection-index-value="{{ form.supporting_documents|length }}" data-form-collection-template-value="{{ form_widget(form.supporting_documents.vars.prototype)|e('html_attr') }}">
                    <div data-form-collection-target="container">
                        {% for document in form.supporting_documents %}
                            <div class="form-item">
                                {{ form_row(document) }}
                                <button type="button" class="btn btn-danger" data-action="form-collection#removeItem">{{ 'button.delete'|trans }}</button>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-primary" data-action="form-collection#addItem">{{ 'document.supporting_documents.add_button'|trans }}</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'button.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
