{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Contact Client' }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>Contact {{ client.fullName }}</h1>
    </div>
    <section class="section">
        <div class="card p-4">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" data-turbo="false" class="btn btn-primary">{{ 'prospect.send'|trans }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
