{% extends 'base.html.twig' %}

{% block title %}Edit Contact
{% endblock %}

{% block body %}
	<div class="pagetitle d-flex justify-content-between">
		<h1>{{ "menu.contacts"|trans }}</h1>
	</div>
	<section class="section">
		<div class="card p-4">
			<div class="card-body">
				{{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
				<div class="divFlexGap">
					<a class="btn btn-secondary" href="{{ path('app_contact_index') }}" data-turbo-action="remove" data-turbo-frame="contact">{{ "button.close"|trans }}</a>

					{{ include('contact/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
