{% extends 'base.html.twig' %}

{% block title %}
    {{ "button.editCompany"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "button.editCompany"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ include('company/_form.html.twig', {'button_label': "update"|trans }) }}

                    <a class="btn btn-primary mt-3"
                       href="{{ path('app_company_show', {'id': company.id}) }}">{{ "button.back"|trans }}</a>

                    {{ include('company/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
