<div class="row mt-4" data-controller="postal-code" data-postal-code-postal-code-cities-url-value="{{ path('postal_code_cities') }}">
    <div class="col-12">
        <h3 class="mb-3">{{ 'client.contact.label'|trans }}</h3>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.adresse_number, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
            {{ form_label(form.adresse_number, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.adresse_number) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.adresse_street, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
            {{ form_label(form.adresse_street, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.adresse_street) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.adresse_postal_code, { 'attr': { 'class': 'form-control', 'data-postal-code-target': 'postalCode', 'data-action': 'input->postal-code#postalCodeUpdate', 'placeholder' : '' } }) }}
            {{ form_label(form.adresse_postal_code, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.adresse_postal_code) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.adresse_city, { 'attr': { 'class': 'form-control', 'data-postal-code-target': 'city', 'placeholder' : '' } }) }}
            <datalist id="{{ form.adresse_city.vars.id }}List"></datalist>
            {{ form_label(form.adresse_city, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.adresse_city) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.adresse_country, { 'attr': { 'class': 'form-select', 'data-postal-code-target': 'country', 'placeholder' : '' } }) }}
            {{ form_label(form.adresse_country, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.adresse_country) }}
        </div>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="form-floating mb-3">
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
            {{ form_label(form.email, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-3 d-flex flex-column" data-controller="phone">
            {{ form_label(form.phone, null, { 'label_attr': { 'class': 'form-label' } }) }}
            {{ form_widget(form.phone, { 'attr': { 'class': 'form-control', 'data-phone-target': 'phone', 'data-action': 'blur->phone#phoneUpdate keyup->phone#phoneUpdate' } }) }}
            {{ form_errors(form.phone) }}
        </div>
    </div>
</div>
<hr>