{% set template %}
    <div class="form-item row mb-3 position-relative">
        <button type="button" class="btn btn-close position-absolute"
                aria-label="Delete"
                data-action="click->form-collection#removeItem"
                style="background: none; border: none; top: -30px; right: -20px; z-index: 10;">
            <i class="bi bi-x-circle text-danger" style="font-size: 2.5rem;"></i>
        </button>
        {% for field in forms.vars.prototype %}
            {% if field.vars.name != "__dynamic_error" %}
                <div class="col-md-6">
                    {% if 'choice' in field.vars.block_prefixes %}
                        <div class="mb-3 form-floating">
                            {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
                            {{ form_errors(field) }}
                            <label for="floatingSelectGrid">{{ field.vars.label|trans }}</label>
                        </div>
                    {% elseif 'money' in field.vars.block_prefixes or 'percent' in field.vars.block_prefixes %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                {% if 'money' in field.vars.block_prefixes %}
                                    €
                                {% elseif 'percent' in field.vars.block_prefixes %}
                                    %
                                {% endif %}
                            </span>
                            <div class="form-floating">
                                {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder': field.vars.label|trans } }) }}
                                <label for="{{ field.vars.id }}">{{ field.vars.label|trans }}</label>
                            </div>
                        </div>
                    {% else %}
                        <div class="mb-3 form-floating">
                            {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
                            {{ form_label(field, null, { 'label_attr': { 'class': 'form-label' } }) }}
                            {{ form_errors(field) }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                {{ form_row(field) }}
            {% endif %}
        {% endfor %}
        <hr class="mx-auto my-3 border border-secondary opacity-25 w-50">
    </div>
{% endset %}
<div class="row mt-4" data-controller="form-collection financial-asset"
     data-form-collection-index-value="{{ forms|length > 0 ? forms|last.vars.name + 1 : 0 }}"
     data-form-collection-template-value='{{ template|raw }}'>
    <div class="col-12">
        <h3 class="mb-3">{{ title|trans }}</h3>
        <div data-form-collection-target="container">
            {% for child in forms %}
                <div class="form-item row mb-3 position-relative">
                    <button type="button" class="btn btn-close position-absolute"
                            aria-label="Delete"
                            data-action="click->form-collection#removeItem"
                            style="background: none; border: none; top: -30px; right: -20px; z-index: 10;">
                        <i class="bi bi-x-circle text-danger" style="font-size: 2.5rem;"></i>
                    </button>

                    {% for field in child %}
                        {% if field.vars.name != "__dynamic_error" %}
                            <div class="col-md-6">
                                {% if 'choice' in field.vars.block_prefixes %}
                                    <div class="mb-3 form-floating">
                                        {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
                                        {{ form_errors(field) }}
                                        <label for="floatingSelectGrid">{{ field.vars.label|trans }}</label>
                                    </div>
                                {% elseif 'money' in field.vars.block_prefixes or 'percent' in field.vars.block_prefixes %}
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            {% if 'money' in field.vars.block_prefixes %}
                                                €
                                            {% elseif 'percent' in field.vars.block_prefixes %}
                                                %
                                            {% endif %}
                                        </span>
                                        <div class="form-floating">
                                            {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder': field.vars.label|trans } }) }}
                                            <label for="{{ field.vars.id }}">{{ field.vars.label|trans }}</label>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="mb-3 form-floating">
                                        {{ form_widget(field, { 'attr': { 'class': 'form-control', 'placeholder' : '' } }) }}
                                        {{ form_label(field, null, { 'label_attr': { 'class': 'form-label' } }) }}
                                        {{ form_errors(field) }}
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            {{ form_row(field) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr class="mx-auto my-3 border border-secondary opacity-25 w-50">
            {% endfor %}
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-secondary mt-3"
                    data-action="click->form-collection#addItem">{{ add|trans }}</button>
        </div>
    </div>
</div>

