<div {{ attributes }} class="search-form d-flex align-items-center position-relative">
    <input type="text" name="query" value="{{ this.query }}" data-model="query" placeholder="{{ 'component.search'|trans }}" class="form-control">
    <button type="submit" title="{{ 'component.search'|trans }}" class="btn btn-outline-secondary">
        <i class="bi bi-search"></i>
    </button>
    <div class="position-absolute w-100" style="top: 100%; left: 0;">
        <ul class="list-group mt-2" style="z-index: 1000; max-height: 200px; overflow-y: auto;">
            {% for person in this.results %}
                <li class="list-group-item">
                    {% if person is instanceof('App\\Entity\\PhysicalPerson') %}
                        <a href="{{ path('physical_person_show', {id: person.id}) }}">
                            <i class="bi bi-person-fill"></i> {{ person.name }}
                        </a>
                    {% elseif person is instanceof('App\\Entity\\LegalPerson') %}
                        <a href="{{ path('legal_person_show', {id: person.id}) }}">
                            <i class="bi bi-building"></i> {{ person.name }}
                        </a>
                    {% else %}
                        {{ person.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
