{% extends 'mailer/base_email.html.twig' %}

{% block email_content %}
    <p>
        {% trans %}emails.hello{% endtrans %},
    </p>
    <p class="text-center">
        <br/><br/>{% trans %}emails.2fa.alert{% endtrans %}
        <br/><br/>{% trans %}emails.2fa.code{% endtrans %}<strong> {{ authCode }}</strong>.
        <br/><br/>{% trans %}emails.2fa.info{% endtrans %}

        {% if ipAddress %}
            <br/><br/>{% trans %}emails.2fa.detail{% endtrans %}
            <br/><strong>{% trans %}emails.2fa.ip{% endtrans %}</strong> {{ ipAddress }}
        {% endif %}

        {% if geoData %}
            <br/><strong>{% trans %}emails.2fa.location{% endtrans %} </strong> {{ geoData.city }}, {{ geoData.region }}, {{ geoData.country }}
        {% endif %}

        <br/><br/>{% trans %}emails.2fa.warning{% endtrans %}

        <br/><br/>{% trans %}emails.sincerely{% endtrans %},
        <br/>{% trans %}emails.team{% endtrans %}
    </p>
{% endblock %}
