{% extends 'base.html.twig' %}

{% block title %}
    {{ "user.index"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle d-flex justify-content-between">
        <h1>{{ "menu.user"|trans }}</h1>
        <a href="{{ path('app_user_new') }}" class="btn btn-primary">
            {{ "button.newUser"|trans }}
        </a>
    </div>
    <section class="section">
        <div class="card p-4">
            <div class="card-body">
                <table class="table">
                    <thead class="bg-gray-50">
                    <tr class="table-primary">
                        <th scope="col"
                            class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            {{ "name"|trans }}
                        </th>
                        <th scope="col"
                            class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            {{ "last_name"|trans }}
                        </th>
                        <th scope="col"
                            class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            {{ "email"|trans }}
                        </th>
                        <th scope="col"
                            class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            {{ "roles"|trans }}
                        </th>
                        <th scope="col"
                            class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            {{ "button.actions"|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {% for user in users %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">{{ user.name }}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">{{ user.lastName }}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-900">{{ user.email }}</div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% for role in user.roles %}
                                <div class="text-sm text-gray-500">{{ role|trans }}</div>
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                <a href="{{ path('app_user_show', {'id': user.id}) }}"
                                   class="btn btn-primary">{{ "button.show"|trans }}</a>
                                <a href="{{ path('app_user_edit', {'id': user.id}) }}"
                                   class="btn btn-primary">{{ "button.edit"|trans }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5"
                                class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium text-gray-500">
                                {{ "no_record"|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
