{% extends 'base.html.twig' %}

{% block title %}
    {{ "button.newAddUser"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "button.newUser"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                    <a class="btn btn-primary mt-4" href="{{ path('app_user_index') }}">{{ "button.back"|trans }}</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
