{% extends 'base.html.twig' %}

{% block title %}
    {{ "menu.user"|trans }}
{% endblock %}

{% block body %}
    <div class="pagetitle">
        <h1>{{ "menu.user"|trans }}</h1>
    </div>
    <section class="section">
        <div class="row">
            <div class="card p-4">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ "email"|trans }}</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>{{ "roles"|trans }}</th>
                            <td>
                                {% for role in user.roles %}
                                    <div class="text-sm text-gray-500">{{ role|trans }}</div>
                                {% endfor %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center gap-4">
                        <a class="btn btn-secondary mt-3"
                           href="{{ path('app_user_index') }}">{{ "button.back"|trans }}</a>

                        <a class="btn btn-primary mt-3"
                           href="{{ path('app_user_edit', {'id': user.id}) }}">{{ "button.update"|trans }}</a>

                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
